.notification-show {
    display: block !important;
    animation: fadeOut 3s forwards;
}

@@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
        display: none;
    }
}
